---
import loomies from "../../assets/i18n/en.json";

const testimonials = [
{
    name: loomies.Testimony1Author,
    description: loomies.TestimonyRole1,
    message:
      loomies.Testimony1,
  },
  {
    name: loomies.Testimony2Author,
    description: loomies.TestimonyRole1,
    message:
      loomies.Testimony2,
  },
  {
    name: loomies.Testimony3Author,
    description: loomies.TestimonyRole1,
    message:
      loomies.Testimony3,
  },
  {
    name: loomies.Testimony4Author,
    description: loomies.TestimonyRole1,
    message:
      loomies.Testimony4,
  },
  {
    name: loomies.Testimony5Author,
    description: loomies.TestimonyRole1,
    message:
      loomies.Testimony5,
  },
  {
    name: loomies.Testimony6Author,
    description: loomies.TestimonyRole1,
    message:
      loomies.Testimony6,
  },
];
---

<section class="py-16 sm:py-20">
  <div class="v mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col items-center gap-12 lg:gap-20">
      <h2 class="mx-auto max-w-xl text-center text-3xl font-medium tracking-tight sm:text-4xl" loom={loomies.TestimonyTitle}>
        {loomies.TestimonyTitle}
      </h2>
      <div
        class="divide-primary-900/10 dark:divide-primary-300/10 grid divide-y lg:grid-cols-3 lg:divide-x lg:divide-y-0"
      >
        {
          testimonials.map((testimonial) => (
            <figure class="flex max-w-lg bg-green-500 lg:w-full flex-col items-center gap-6 py-8 lg:px-8 lg:py-0">
              <div class="flex flex-row gap-2">
                {[...Array(5)].map(() => (
                  <svg
                    class="h-6 w-6"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="#F9C706"
                    aria-hidden="true"
                  >
                    <path d="M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z" />
                  </svg>
                ))}
              </div>
              <blockquote class="text-primary-950/70 dark:text-primary-200/70 text-center text-lg italic leading-loose">
                <p loom={testimonial.message}>{testimonial.message}</p>
              </blockquote>
              <figcaption class="flex flex-col gap-4">
                <div class="text-center">
                  <div class="text-base font-medium" loom={testimonial.name}>{testimonial.name}</div>
                  <div class="text-primary-950/70 dark:text-primary-200/70 text-sm" loom={testimonial.description}>
                    {testimonial.description}
                  </div>
                </div>
              </figcaption>
            </figure>
          ))
        }
      </div>
    </div>
  </div>
</section>
